<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Algorithmetric</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="css/new-age.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <section id="download" class="download bg-primary text-center">
        <div id="title" class="container jumbotron animated fadeInDown">
            <div class="row" >
                <div class="col-md-8 col-md-offset-2">
                    <h3  class="section-heading title">Nakarm Algorytm</h3>
                    <p class="italic copy" style="font-size: 12pt; margin-bottom: 50px;">Wypełnij poniższy formularz i pomóż w tworzeniu tego algorytmu</p>

                    <div class="checkbox" align="left">
                        <input id="agree" type="checkbox" value="" onclick="enableButton()"><label for="agree">Wyrażam zgodę, na przetwarzanie moich danych osobowych: Polubione Strony na Facebooku, Posty na Facebooku oraz mój typ osobowości, w celu utworzenia algorytmu definującego osobowość poprzez profil na mediach społecznościowych.</label>
                    </div>
                    <div class="checkbox" align="left">
                        <input type="checkbox" id="zwzt" value="zwzt" onclick="addHTML()"><label for="zwzt">Robiłem/am projekt w ramach platformy Zwolnienii z Teorii</label>
                    </div>
                    <div id='wrapper' align="left"></div>
                    <p style="font-size: 14pt">Twoja Osobowość</p>

                    <select class="personality_select" onchange="getSelected(this)">
                        <option value="1">Architekt</option>
                        <option value="2">Logik</option>
                        <option value="3">Dowódca</option>
                        <option value="4">Dyskutant</option>
                        <option value="5">Rzecznik</option>
                        <option value="6">Pośrednik</option>
                        <option value="7">Protagonista</option>
                        <option value="8">Działacz</option>
                        <option value="9">Logistyk</option>
                        <option value="10">Obrońca</option>
                        <option value="11">Wykonawca</option>
                        <option value="12">Doradca</option>
                        <option value="13">Wirtuoz</option>
                        <option value="14">Poszukiwacz Przygód</option>
                        <option value="15">Przedsiębiorca</option>
                        <option value="16">Animator</option>
                    </select>
                    <a class="btn btn-outline btn-xl" onclick="window.open('https://www.16personalities.com/pl/darmowy-test-osobowosci')" >Wykonaj Test</a>
                    <br />
                    <br />
                    <br />
                    <br />
                    <a class="btn btn-outline btn-xl fb" onclick="myFacebookLogin()">Zaloguj się na FB</a>
                    <div id='submit-button' style="margin-top: 10px">
                        <a id='submit' class="btn btn-outline btn-xl disabled" onlcik='window.location.href = "http://stackoverflow.com";'>Wyślij Dane</a>
                    </div>
                    <br />
                </div>

            </div>
        </div>
    </section>

    <section id="forwhom" class="features">
        <div class = "col-md-1"></div>
        <div class = "col-md-5 logo">
            <!---<p align="left">Algorytm tworzony dla</p>
            <img src="img/sw_logo.png" class="logo" onclick="window.open('https://zwolnienizteorii.pl/#/app/home')">-->
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2017 Algorithmetric. All Rights Reserved.</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js"></script>

    <script src="js/script.js"></script>

</body>

</html>
